# dependencies
node_modules/
server/node_modules/

# build output
**/dist
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# Prisma
**/generated/prisma

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# testing
coverage
